{
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "semi":true,
  "printWidth": 200,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
